@page "/fetchdata"

<PageTitle>Товары</PageTitle>

<Loading Spinning="IsLoading">
    <Table @ref="_table"
           TItem="Product"
           DataSource="@Products"
           Total="_total"
    @bind-PageIndex="_pageIndex"
    @bind-PageSize="_pageSize"
    @bind-SelectedRows="_selectedRows"
           OnChange="OnChange"
           Size="TableSize.Small">
        <Selection Key="@(context.Id.ToString())" />
        <PropertyColumn Property="c=>c.Id" Sortable />
         <PropertyColumn Property="c=>c.Name" Sortable />
         <PropertyColumn Property="c=>c.Description" Sortable />
         <PropertyColumn Property="c=>c.Price" Sortable />
         <ActionColumn Title="Action">
             <Space>
                 <SpaceItem>
                     <Button Danger OnClick="()=>DeleteAsync(context.Id)">Удалить</Button>
                 </SpaceItem>
                 <SpaceItem>
                     <Button Danger OnClick="()=>EditAsync(context.Id)">Изменить</Button>
                 </SpaceItem>
             </Space>
         </ActionColumn>
     </Table>

     <Button OnClick="NavigateToCreateProduct">Добавить товар</Button>
 </Loading>