@inherits LayoutComponentBase
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <PageTitle>Bakasov.Client</PageTitle>
    <base href="/" />
    <script src="~/js/app.js" defer></script>
    <script src="~/js/snow.js" defer></script>
</head>
<body>
    <div class="logo" style="background-image: url(/images/HS.svg)"></div>

    <section class="layers">
        <div class="layers__container">
            <div class="layers__item layer-1" style="background-image: url(/images/bgfirstpage.jpg)"></div>
            <div class="layers__item layer-2" style="background-image: url(/images/sharf.png)"></div>
            <div class="layers__item layer-2" style="background-image: url(/images/djersie.png)"></div>
            <div class="hero-content">
                <h1>Гори своим делом</h1>
                <div class="paragraph">
                    заряжай
                </div>
                <button class="start_button">
                    Пойдём?
                </button>
            </div>
            <div class="layers__item layer-3">
                <canvas class="snow">

                </canvas>
            </div>
            <div class="layers__item layer-4"></div>
        </div>
    </section>

    <div style="height: 100vh"></div>

</body>
